@import "variables.scss";
@import "globals.scss";

.header-center {
    margin-right: 20rem;
}

#links a:hover {
    color: $first-color;
    font-size: $font-size-19;
    font-weight: bold;
}

.top-space {
    margin-top: 4.7rem;
}

.title {
    @include center-to-bottom;
}

#banner {
    @include no-padding-sides;
    color: $second-color;
}

#banner p {
    background-color: $third-color;
    margin-bottom: 0rem;
}

.banner_title {
    color: $fourth-color;
    font-size: $font-size-50;
    background-color: $transparent-bg !important;
}

#banner-music {
    color: $second-color;
}

#banner-book {
    color: $first-color;
}

.card-organizer {
    width: 18rem;
    margin-bottom: $second-space;
    transition:.3s;
}

.card-organizer:hover {
    transform:scale(1.1);
    z-index: 1;
}

#confirmation {
    text-align: center;
    margin-top: 10rem;
}

#purchase-button:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}
  
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.second-title {
    @include center-to-bottom;
    text-decoration: underline;
    font-size: $font-size-48;
}

.card-rating {
    border: none;
}

.user-content p {
    margin-top: 5px;
    font-size: 12px;
}

@media (max-width: 364px) {
    .top-space {
        margin-top: 7.2rem;
    }

    #free_shipping {
      overflow-wrap: break-word;
    }
}

.btn-card {
    @extend .btn;
    background-color: $seventh-color;
    color: $second-color;
    border-color: $seventh-color;

    &:hover {
        background-color: $second-color;
        color: $seventh-color;
        border-color: $seventh-color;
        font-weight: bold;
    }
}

.interest {
    border: solid 1px $first-color;
}